// Author: Rane Ahonen, https://rane.io
// Source: https://github.com/raneio/core-sass
// License: MIT

//
// Chain
// --------------------------------------------------
// .my-element
//   +chain(1rem)

@mixin chain($gap: null)
  display: flex
  justify-content: flex-start
  align-items: center
  flex-direction: row

  > *
    flex-shrink: 1
    flex-grow: 0

  @if $gap != null
    > * + *
      margin: 0 0 0 $gap

  > hr
    flex-shrink: 99999
    flex-grow: 99999
    margin: 0
