// Author: Rane Ahonen, https://rane.io
// Source: https://github.com/raneio/core-sass
// License: MIT

//
// Stack
// --------------------------------------------------
// .my-element
//   +stack(1rem)

@mixin stack($gap: null)
  display: flex
  justify-content: flex-start
  align-items: stretch
  flex-direction: column
  flex-wrap: nowrap

  > *
    flex-shrink: 1
    flex-grow: 0
    margin: 0
    width: auto

  @if $gap != null
    > * + *
      margin-top: $gap

  > hr
    flex-shrink: 99999
    flex-grow: 99999
